/* Home Section Styling */
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3cd04d, #4338ca);
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .home-container {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .home-title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .home-title .highlight {
    color: #facc15; /* Highlight color for your name */
  }
  
  .home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-style: italic;
    color: #d1d5db;
  }
  
  .home-description {
    font-size: 1rem;
    margin-bottom: 25px;
    line-height: 1.6;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #facc15;
    color: #4f46e5;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #ffffff;
    color: #4f46e5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Profile Picture Styling */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #facc15;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .profile-picture:hover {
    transform: scale(1.1);
  }
  